In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Part 1: Load and explore

### 1. Load the dataset and display the first few rows.

In [4]:
movies = pd.read_csv("../data/movies.csv")
movies.head(2)

,Title,Year,Vote_Average,Vote_Count,Budget,Revenue,TMDB_ID,Nominee,Winner,Genre_Action,...,Genre_History,Genre_Horror,Genre_Music,Genre_Mystery,Genre_Romance,Genre_Science Fiction,Genre_TV Movie,Genre_Thriller,Genre_War,Genre_Western
0,#Alive,2020,7.228,1956,6300000,13416285,614696,0,0,True,...,False,True,False,False,False,True,False,False,False,False
1,10 Cloverfield Lane,2016,6.994,8359,15000000,110216998,333371,0,0,False,...,False,True,False,False,False,True,False,True,False,False

### 2. How many movies in the dataset were nominated for Best Picture?

In [6]:
print(f"There were {movies["Nominee"].count()} movies nominated for Best Picture.")

There were 1005 movies nominated for Best Picture.

### 3. What percentage of movies were nominated?

In [54]:
movies["Nominee"].value_counts(normalize=True).reset_index()#*100

   Nominee  proportion
0        0    0.909453
1        1    0.090547

### 4. Compute the average revenue for:

#### Nominated Movies

.084 10,000,000