In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Part 1: Load and explore

### 1. Load the dataset and display the first few rows.

In [94]:
# loading the dataset and displayed a couple rows
movies = pd.read_csv("../data/movies.csv")
movies.head(2)

,Title,Year,Vote_Average,Vote_Count,Budget,Revenue,TMDB_ID,Nominee,Winner,Genre_Action,...,Genre_History,Genre_Horror,Genre_Music,Genre_Mystery,Genre_Romance,Genre_Science Fiction,Genre_TV Movie,Genre_Thriller,Genre_War,Genre_Western
0,#Alive,2020,7.228,1956,6300000,13416285,614696,0,0,True,...,False,True,False,False,False,True,False,False,False,False
1,10 Cloverfield Lane,2016,6.994,8359,15000000,110216998,333371,0,0,False,...,False,True,False,False,False,True,False,True,False,False

### 2. How many movies in the dataset were nominated for Best Picture?

In [6]:
print(f"There were {movies["Nominee"].count()} movies nominated for Best Picture.")

There were 1005 movies nominated for Best Picture.

### 3. What percentage of movies were nominated?

In [100]:
movies["Nominee"].value_counts(normalize=True).reset_index()

   Nominee  proportion
0        0    0.909453
1        1    0.090547

### 4. Compute the average revenue for:

#### Nominated Movies, non-nominated movies - Does revenue look associated with nominations?

In [129]:
avg_nom_rev = movies.groupby("Nominee")['Revenue'].mean().astype('int64').reset_index()
avg_nom_rev

   Nominee    Revenue
0        0  189624332
1        1  232573777

In [145]:
print(f"The average revenue for a nominated movie is {avg_nom_rev["Revenue"][1]} whereas the \n average revenue for a non-nominated movie is {avg_nom_rev["Revenue"][0]}")

The average revenue for a nominated movie is 232573777 whereas the
 average revenue for a non-nominated movie is 189624332

Yes, based on the fact that revenue on average is higher for nominated movies than for non nominated movies, revenue does look like it's associated with nominations.

## Part 2: Logistic Regression: Revenue Only

### 5. Fit a logistic regression model for whether a movie was nominated based on its revenue.

.084 10,000,000